@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    /* width: 100%;
    margin: 30px; */
}

.main .description {
    width: 50%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.main .description .cardText {
    padding: 10px 30px;
}

.main .description .cardText h1{
    color: rgb(210, 253, 253);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
}
.main .description .cardText h3 {
    line-height: 1.8rem;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 450;
}

.main .description .cardText .devicon {
    max-width: 10em;
    height: 35px;
    width: 35px;
    margin: 5px 10px;
}

.main .image {
    width: 50%;
    display: flex;
    align-items: center;
}

.main .image .cardImageDiv {
    padding: 20px;
}

.main .image .cardImageDiv img {
    width: 100%;
    margin-top: auto;
    border: 1px solid var(--text-color);
}

@media only screen and (max-width: 1024px) {
    .main {
        flex-direction: column-reverse;
    }
    .main .description {
        width: 100%;
    }
    .main .image {
        width: 100%;
    }
    .main .image img {
        border: none;
    }
}