body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.index_terminal__teubZ {
    background: #081b29 !important;
    color: #fff !important;
}

#terminalEditor {
    background: #081b29 !important;
}

#terminalEditor::-webkit-scrollbar {
    display: none;
}

.index_editor__JoDSg .index_caret__VS4iV .index_caretAfter__6aXPx {
    background: #fff !important;
}